@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;

    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;

    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;

    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;

    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;

    --muted-foreground: 220 8.9% 46.1%;

    --accent: 0 0% 98%;

    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;

    --input: 220 13% 91%;

    --ring: 224 71.4% 4.1%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 47.4% 11%;

    --foreground: 210 40% 98%;

    --card: 222.2 47.4% 13%;

    --card-foreground: 210 40% 98%;

    --popover: 222.2 47.4% 13%;

    --popover-foreground: 210 40% 98%;

    --primary: 262.1 83.3% 57.8%;

    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 33.9% 20%;

    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 33.9% 20%;

    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 316.1 75.2% 62.5%;

    --accent-foreground: 210 40% 98%;

    --destructive: 0 72.2% 50.6%;

    --destructive-foreground: 210 40% 98%;

    --border: 217.2 33.9% 20%;

    --input: 217.2 33.9% 20%;

    --ring: 262.1 83.3% 57.8%;

    --chart-1: 262.1 83.3% 57.8%;

    --chart-2: 316.1 75.2% 62.5%;

    --chart-3: 199.4 84.3% 60.2%;

    --chart-4: 43.4 96.4% 56.3%;

    --chart-5: 141.2 66.9% 45.3%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
